.value-img {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0; }

.header-img{
    display: block;
    max-height: 4.5rem;
    text-align: justify;
    margin: 1rem auto 0;
}

#logout{
    color: black;
}

header{
    vertical-align: middle;
    background-color: #404552;
    text-align: justify;
    border-radius: 5px;
    color: white;
    padding: 1rem;
}
header>ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}
header li{
    display: inline;
}

.dropdown {
    display: table;
    text-align: justify;
    margin: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-buttom{
    background-color: #33C3F0;
    color: white;
    border-color: #33C3F0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}